
.phoccontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}      

.phoc {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.phoclevel {
    margin-top: 10px
}

.phocwrapper {
    display: flex;
    flex-direction: row;
}

svg {
    width: 600px;
}
        